*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 120px);
    background-color: black;
    overflow-y: auto;
}
.cont-principale{
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.row{
    width: 100%;
    height: calc(100%/5);
    display: flex;
    margin-top: 10px;
}
.cella{
    width: 50%;
    height: 100%;
    background-image: url(../img/sfondo-esercizio.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    background-repeat: no-repeat;
    position: relative;
}
.mic{
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    padding: 5px;
}
footer{
    height: 100px;
    background-color: rgba(34,34,34,255);
}
.row-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 10%;
}
.icon{
    height: 50%;
}
.txt{
    height: 50%;
}
.icon-2{
    height: 100%;
}