*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 
}
main{
    height: calc(100vh - 100px);
    background-color: black;
    overflow-y: auto;
}
.cont-principale{
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.row{
    width: 100%;
    height: calc(100%/5);
    display: flex;
    margin-top: 10px;
}
.cella{
    width: 50%;
    height: 100%;
    background-image: url(../img/sfondo-esercizio.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 20px;
    background-repeat: no-repeat;
    position: relative;
}
.mic{
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    padding: 5px;
}
footer{
    height: 100px;
    background-color: rgba(34,34,34,255);
    display: flex;
    justify-content: space-between;
}
.row-left{
    width: 20%;
    height: 100%;
    display: flex;
    
    align-items: center;
}
.icon-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
}
.icon{
    font-size: 2em;
}
.txt{
    font-size: 1.3em;
}
.icon-2{
    font-size: 1.8em;
    color: white;
    margin-right: 30px;
    margin-left: 10px;
}
.margin{
    margin-left: 20px;
}
.row-center{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-3{
    font-size: 1.8em;
    color: white;
}
.row-center div{
    margin: 0 10px;
}
.fa-share-from-square{
    color: rgba(75,200,0,255);
}
